.video-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 0 25px;
}

.video-list-item {

}

.video-list-item a {
    display: block;
    width: 100%;
}

.video-list-item a img {
    display: block;
    width: 100%;
}
